@import './base/reset';

@import './abstract/mixin', './abstract/variables';

@import './component/footer', './component/nav', './component/responsive';

@import './pages/about', './pages/contact', './pages/home', './pages/project';

body{
    font-family: $font-family;
    line-height: 1;
    color: $tect-color;
    background-color: $primary-color;
    height: 100vh;
}